<header>
  <% if @current_user %>
  <%= link_to "Welcome, #{@current_user.name}!", user_path(@current_user) %>
  <%= link_to "Sign Out", session_path, method: :delete %>
  <%= link_to "Main Menu" , menu_main_path %>
  <% else %>
  <%= link_to "Sign Up", new_user_path %>
  <%= link_to "Sign In", new_session_path %>
  <% end %>
</header>
<h2> Showing Portfolios for <%=@at%> </h2>
<div id="portfolio_edit_list">
  <ul>
    <% @portfolio.each do |p| %>
    <div>

      <li><%= link_to p.title ,portfolio_path(p) %></li>
       <p> <%= link_to "edit" , edit_user_portfolio_path(@current_user,p) %></p>
       <p> <%= link_to "delete" , user_portfolio_path(@current_user,p),method: :delete %></p>
    </div>
    <% end %>
  </ul>
  <div>
