
<div id="show-portfolio-wrapper">
  <nav>
    <div>
      <p id="userid_title"><%=@current_user.name %></p><br>
      <a href="#"><img src="<%=@current_user.avatar_url%>" alt=<%= @current_user.name %> class="id"></a>
        <%= image_tag "nav/seperator.png"  %>
  
    </div>
    <ul>
      <li><a href="#">FUTURE About Page</a></li>
      <li><a href="#"> FUTURE Contact</a></li>
      <li><a href="#">FUTURE Resume</a></li>
      <li><a href="#">FUTURE LinkedIn Profile</a></li>
    </ul>
    <div id="footer">
      <div id="social">
        <%= image_tag "nav/social/twitter.png" %>
        <%= image_tag "nav/social/email.png" %>
        <%= image_tag "nav/social/instagram.png" %>
      </div>
      <div>
        <p>Copyright &copy; 2016 Rubin IT Solutions</p>
      </div>
    </div>
  </nav>

  <div id="body-wrapper">
    <div id="portfolio">
      <div id="title1" ><%= @portfolio.title %> </div><br>
        <h1> <%=@portfolio.description %> </h1>
      <div class="columns clearfix">
      <% @portfolio.projects.each do |project| %>
        <!-- memory game portfolio start -->
        <div class="project-wrapper">
          <a href="<%= project.host_url%>">
            <img src="<%= project.screen_img_url%>" alt=<%= project.name %>>
          </a>
          <div class="project-info">
            <h2><%= project.name %> </h2>
              <p><a href="<%=project.host_url%>"><%= project.name %></a></p>

            <p class="description"><%= project.description %></p>
          </div>
        </div>
        <% end %>


      </div>
    </div>
  </div>


</div>
