<h1>Projects for User <%=@current_user.name %></h1>


<h2><%= link_to "New Project",new_user_project_path(@current_user) %><h2>
  <form method="get" action= "<%= new_user_portfolio_path(@current_user) %>" >
    <button type="submit">New User Portfolio</button>


    <ul>
      <% i=0 %>
      <% @projects.each do |project| %>

      <input name= <%="project#{i.to_s}"%> type="checkbox" id=<%="cbox" + i.to_s %> value=<%=project.id.to_s%>> <%=link_to project.name, user_project_path(@current_user.id,project.id) %>><br>

      <p> <%=project.description %> </p>
      <% i=i+1 %>
      <% end %>
      <br>
      <p> <%=i%> Total Projects for User <%=@current_user.name %>
      </ul>

      <% @projects.each do |project| %>

      <% end %>

    </form>
