<h1>Projects for User <%=@current_user.name %></h1>


<h2><%= link_to "New Project",new_user_project_path(@current_user) %><h2>

<ul>
  <% i=0 %>
  <% @projects.each do |project| %>
  <label><input type="checkbox" id=<%="cbox" + i.to_s %> value=<%="id:"+project.id.to_s%>> <%=project.name %>></label><br>


  <p> <%=project.description %> </p>
  <% i=i+1 %>
  <% end %>
  <br>
  <p> <%=i%> Total Projects for User <%=@current_user.name %>
</ul>
