<!DOCTYPE html>
<html>
  <head>
    <title>PortfolioManagementSystem</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h2><%= link_to "Home", root_url %></h2>
    <h2><%= link_to "Menu" , menu_main_path %> </h2>
        <%= link_to "Sign Up", new_user_path %>
        <%= link_to "Users", users_path %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>



  <%= yield %>

  </body>
</html>
